extends base

block content
  // Hero Section
  section.about-hero
    .about-hero__content
      h1.about-hero__title We work hard. We don't take shortcuts.<br>Most of all, we listen to our customers.
    .about-hero__banner
      p.about-hero__banner-text We launched Natours in 2020 and now have customers in over 50 countries. Our team is dedicated to providing the most advanced tour booking system and travel platform.

  main.main
    // Company Description Section
    section.about-company
      .container
        .about-company__content
          .about-company__text
            h2.about-company__heading Who is Natours?
            p.about-company__description We created a simple yet powerful booking tool that's effortless for you and intuitive for your customers.
            p.about-company__description We are a team of travel experts dedicated to saving you time, money and aggravation with the best online tour booking and scheduling system on earth.
            p.about-company__description We provide solo travelers and large groups (plus every size in between) with a powerful booking tool that's incredibly easy to use.
            p.about-company__description Natours lets you spend more time exploring the world and less time trying to dig up lost bookings.
          .about-company__stats
            .about-company__stat
              .about-company__stat-number 10,000+
              .about-company__stat-label TOURS BOOKED
            .about-company__stat
              .about-company__stat-number $2.5M+
              .about-company__stat-label CLIENT BOOKING REVENUE

    // Support Section
    section.about-support
      .container
        h2.about-support__heading Natours Customer Support
        p.about-support__description Natours' Technical Support Team blows the rest away. Just ask our clients. They'll tell you we're fast, accurate, and available whenever you need us.

    // Features Section
    section.about-features
      .container
        .about-features__grid
          .about-features__item
            .about-features__icon
              svg
                use(xlink:href='/img/icons.svg#icon-globe')
            h3.about-features__title Highly trained technical support
            p.about-features__description Your questions are answered quickly, clearly, and proactively by our highly trained and responsive Technical Support Team.
          .about-features__item
            .about-features__icon
              svg
                use(xlink:href='/img/icons.svg#icon-users')
            h3.about-features__title Multilingual
            p.about-features__description Natours Support is located on 3 continents and can communicate in many different languages.
          .about-features__item
            .about-features__icon
              svg
                use(xlink:href='/img/icons.svg#icon-clock')
            h3.about-features__title Around the clock support
            p.about-features__description We're ready around the clock to provide assistance whenever you need it.

    // CTA Section
    section.about-cta
      .container
        .about-cta__content
          p.about-cta__text Need Help? Get in touch with our support team
          a.btn.btn--green(href='/contact') CONTACT US


